<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./public/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet"
    href="file:///C:/Users/sict/Downloads/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./public/bootstrap.min.css">
  <script src="../public/jquery.js"></script>
  <script src="../public/popper.js"></script>
  <script src="../public/bootstrap.min.js"></script>

  <script> var imagename = '<%= image %>' 
          var mp3 = '<%= mp3 %>' 
    var imagenamecommarray = imagename.split(',')
  var mp3commaarray = mp3.split(',')





function ejsobjectparse(testobject){
  var test1 = testobject.replace(/&#34;/g,'"')
  var test2 = test1.replace(/&#34/g,'"')   
 
return JSON.parse(test2)
}
  
    </script>
</head>

<body>
  <div id="page1" class="container w3-green" >





<form action="http://localhost:3000/admin" method="POST">
    <h style="font-size: x-large;">Name</h>
    <input  type="text" class="form-control" name="namegen"><br>

    <h style="font-size: x-large;">Bpm</h>

    <input type="text" class="form-control" name="Bpmgen"><br>

    <h style="font-size: x-large;">Year</h>

    <input type="text" class="form-control" name="Yeargen"><br>

    <h style="font-size: x-large;">Duration</h>

    <input type="text" class="form-control" name="Durationgen"><br>

    <h style="font-size: x-large;">Price</h>

    <input  type="text" class="form-control" name="Pricegen"><br>


    <h style="font-size: x-large;">Genre</h>
    <!--drop down-->
    <span><br>

      <div class="dropdown">
        <input name="Genrename" type="button" class="btn w3-white dropdown-toggle btn-block" id="drop" data-toggle="dropdown">Choose
          your section</button>
        <div class="dropdown-menu btn-block">
          <a class="dropdown-item">Hiphop</a>
          <a class="dropdown-item">R&B</a>
          <a class="dropdown-item">Electronic</a>
          <a class="dropdown-item">Afro</a>
          <a class="dropdown-item">Trap</a>
        </div>
      </div><br>
    </span>
      <div>
        <button type="button" class="btn selectitem w3-yellow" data-toggle="modal" data-target="#myModal">Choose Image</button>
      </div>
      
      <img id="thumb" src="./la.jpg" class="w3-round" alt="Norway"
        style="width:100px;height: 100px;object-fit: cover;display: none;"><br><br>


      <div>
        <button type="button" class="btn selectitem w3-yellow " data-toggle="modal" data-target="#myModal">Choose Audio</button>
      </div>

      <button id="Submitbutton" type="submit" class="btn btn-primary">Submit</button>
    </form>






    <div class="container">

      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body ">
              <div id="imagepopulation" class="row w3-container">

                <div class="column" style="">

                  <img src="./la.jpg" class="w3-round" alt="Norway" style="width:100%;height: 100%;object-fit: cover;">

                </div>


              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

    </div>




  </div>

  <script src="../public/admin.js"></script>
  <script src="dist/my-first-webpack.bundle.js"></script>
</body>

</html>