<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"
      href="file:///C:/Users/sict/Downloads/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <script src="../public/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="../public/js/vendor/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>

    <div class="mt-5 w3-center" >
        <a href="./admin"><button style="height: 500px; width: 500px;"  class="btn-lg btn-primary ">Go To Update </button></a>

        <a href="./edit"><button style="height: 500px; width: 500px;"  href="./edit" class="btn-lg btn-primary "> Go To Edit </button></a>

    </div>



    
</body>
</html>